@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Report</h1>
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <td>Work Order Id</td>
            @foreach (var x in Model.Enginee.Reason)
            {
                <td>@x</td>
            }
        </tr>
        </thead>
        <tbody>
          @foreach (var workOrder in Model.Enginee.WorkOrderDuration)
          {
              <tr>
                  <td>@workOrder.Key</td>
                  @foreach (var reason in Model.Enginee.Reason)
                  {
                      double itm = 0;
                      if (workOrder.Value.ContainsKey(reason))
                          itm =workOrder.Value[reason];
                          
                        <td>@itm</td>
                  }
              </tr>
          }
        </tbody>
    </table>
</div>
